nav{
    width: 100%;

    color: #fff;
    padding: 4px 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 10px;

}
.logo{
    width: 50px;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 16px;
}
.btn{
    background: #FFF;
    color: #212121;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 25px;
    border: 0;
    outline: 2px solid blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
}
.btn img{
    width: 20px;
    margin-left: 10px;
}
.dark-nav{
    background-color: #212EA0;
    transition: 0.5s;
}