.programs{
    margin: 80px auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    
}
